{
    "destination": "/path/to/email_backup",
    "total_processes": 3,
    "processes_per_account": 2,
    "ignore_mailboxes": [
        "Calendar",
        "Contacts",
        "Conversation History",
        "Journal",
        "Quick Step Settings",
        "RSS Feeds",
        "Suggested Contacts",
        "Sync Issues",
        "Tasks",
        "Working Set"
        ],
    "accounts": [
        {
            "username": "john@microsoft.com", 
            "ssl": true, 
            "host": "outlook.office365.com", 
            "password": "password1", 
            "email": "john@microsoft.com",
            "processes_per_account": 1
        },
        {
            "username": "jill@microsoft.com", 
            "ssl": true, 
            "host": "outlook.office365.com", 
            "password": "password2", 
            "email": "jill@microsoft.com"
        }
    ]
}